/*links*/

//esquema de colores
.autor-name {
    font-family: $playfair;
    font-weight: $bold;
    font-style: $italic;
}

.autor-rrss,
.autor-link {
    color: $ruddy-pink;
}

.autor-text {
    font-family: $roboto;
    font-weight: $regular;
    font-size: $small;
    text-align: left;
}