/*pagination*/


/*pagination item*/

.page-item a {
    text-decoration: none;
    color: $eerie-black;
    font-family: $roboto;
    font-weight: $regular;
    font-size: $medium;
}


/*page active*/

.page-item.active .page-link {
    background-color: $nickel;
    border-color: $nickel;
    color: $white;
}