/*esquema de colores*/

//primer esquema
$white: #FFF;
$platinum: #E8EBE4;
$light-gray: #D1D1D1;
//segundo esquema
$fuzzy-wuzzy: #E56356;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
//tercer esquema
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

/*typography*/

//familia de fuentes tipograficas
$roboto: 'Roboto',
sans-serif;
$playfair: 'Playfair Display',
serif;
//peso de fuente
$ligero: 300;
$regular: 400;
$bold: 900;
//estilo de fuente
$italic: italic;
//tamaño de fuente
$xx-large:70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
//botones
$btn-large: 180px;
$btn-small:115px;