/*header*/

//background image
header {
    background-image: url('../img/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    background-position: 50%;
}

//header container alineacion
.header-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

//header titulo principal
.header-container__title {
    font-family: $playfair;
    font-weight: $bold;
    font-size: $xx-large;
    font-style: $italic;
    color: $white;
    max-width: 1200px;
}

//header icono
.header-container_icon {
    color: $white;
    font-size: $x-large;
    padding-left: 49%;
}

//media query para titulo principal
@media screen and (max-width: 480px) {
    .header-container__title {
        font-size: 40px;
    }
}