/*main section*/

//main container fecha
.main-container {
    display: flex;
    margin: 2% 3%;
    font-family: $roboto;
    font-weight: $ligero;
    font-size: $medium;
    color: $raisin-black;
}

.parrafo-link {
    color: $ruddy-pink;
}