/*main section*/

//main container fecha
.main-container {
    display: flex;
    margin: 2% 3%;
    font-family: $roboto;
    font-weight: $ligero;
    font-size: $medium;
}

//sección autor
.autor-container {
    display: flex;
    justify-content: center;
    margin: 100px 10px;
}

//a tag en parrafo
.parrafo-link {
    color: $ruddy-pink;
}